@import "colors.scss";
@import "form.scss";
@import "login.scss";
@import "create.scss";
@import "responses.scss";
@import "dashboard.scss";
@import "homepage.scss";

@font-face {
  font-family: "CoralPen";
  src: url("./fonts/Frosty-Regular.ttf") format("truetype");
}

//NAV HEADER
.nav-wrapper {
  // position: absolute;
  //top: 0;
  //left: 0;
  z-index: 9999;
  width: 100%;
}
.temp {
  color: #6d67ef;
}

.container {
  min-height: 100vh;
  background-color: #5fd5d1;
  display: flex;
  flex-direction: column;
}
.container-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}
.container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  &.center {
    justify-content: center;
  }
}
.ui.vertical.segment.mobile-submenu-wrapper {
  text-align: center;
  padding: 0;
  background: #1bafa9;
  padding-bottom: 0;
  > .menu {
    margin: 0;
  }
}
@media screen and (min-width: 650px) {
  .container-inner {
    padding: 2rem;
     min-width: 600px;
     width: auto;
  }
}
.create-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-form-wrapper {
  background: #fff;
  border-radius: 4px;
  min-width: 450px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
}

.create-form-header {
  color: #000;
  text-align: center;
  margin-bottom: 0;
}
.create-form-body {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.create-form-footer {
  display: flex;
  border-top: 1px solid #f0f0f0;
  padding: 0.5rem;
  justify-content: flex-end;
}
.create-form-footer .next {
  background: #00ac99;
  padding: 0.5rem 1.5rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
}
.form-field label {
  display: none;
}
.form-field .form-input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  font-size: 1.4rem;
}

.ui.transparent.input.dotted {
  font-size: 2.6em;
}
.ui.transparent.input.dotted > input {
  border: none;
  line-height: 1.5em;
  border-bottom: 1px dashed #c8c8c8 !important;
  text-align: center;
}
.ui.transparent.input.reason-input {
  font-size: 2.6em;
}
.ui.transparent.input.reason-input > input {
  border: none;
  line-height: 1.5em;
  border-bottom: 1px dashed #c8c8c8 !important;
  text-align: center;
}
.ui.button.plural-input {
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
.ui.button.plural-input.ui.dropdown > .text {
  color: #000 !important;
  line-height: 1em;
  border-bottom: 1px dashed #c8c8c8 !important;
}
.ui.button.plural-input.ui.dropdown .dropdown.icon {
  display: none;
}
.text-row {
  font-size: 2.6em;
  line-height: 1.5em;
  margin: 1.5rem 0.25rem;
  text-align: center;
}

.header-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
element.style {
  pointer-events: all;
}
.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}

.ui.dropdown .menu .active.item {
  background: 0 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 12;
}
.ui.dropdown .menu > .item:first-child {
  border-top-width: 0;
}
.ui.dropdown.plural-input {
  .text {
    font-size: 2.6em;
    line-height: 1.5em;
  }
  .menu {
    .item {
      padding: 0.5rem 1.5rem !important;
      .text {
        font-size: 1.6rem;
      }
    }
  }
}
.ui.compact.segment.type-toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 0.25rem 0;
  padding: 0.75rem 1rem;
}
.type-toggle-left-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}
.type-toggle-label {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
i.inverted.circular.icon {
  // background-color: #6d67ef !important;
  background-color: rgb(27, 175, 169) !important;
}

//NAV
.nav-wrapper {
  .ui.menu {
    .login-button {
      margin-left: 0.5rem;
    }
    .item {
      &.active {
        border-color: #ffc24c !important;
        border-bottom-width: 3px;
        margin: 0 0 -3px;
      }
    }
    &.pointing {
      .login-button {
        background: #ffc24c;
        color: #fff;
      }
      .item {
        color: rgba(255, 255, 255, 0.7);
        &.active {
          color: rgba(255, 255, 255, 1) !important;
        }
        &:hover {
          color: rgba(255, 255, 255, 1) !important;
        }
      }
    }
    &.fixed {
      .login-button {
        background: transparent;
        color: #ffc24c;
      }
    }
  }
}

//UI MENU OVERRIDE
.ui.menu {
  border: none;
  .item {
    padding: 0.5714286em 1.4285713em;
    &:before {
      content: none !important;
    }
  }
}

//Toggle
.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: #3ecf8e !important;
}
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #3ecf8e !important;
}

//Success
.success-header {
  flex-direction: column;
}
.success-url {
  margin: 1.5rem auto;
  p {
    font-size: 1rem;
  }
}

//Response form
.response-header {
  font-size: 2rem;
  text-align: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  margin: auto 2rem;
  .logo {
    font-family: "CoralPen";
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #ffc24c;
  }
}

//Form
.ui.button.start {
  background: #3ecf8e !important;
  color: #fff !important;
}
.ui.button.submit-form {
  background: #3ecf8e !important;
  color: #fff !important;
}
.ui.button.next {
  background: #2b8be0 !important;
  color: #fff !important;
}

.extra.content {
  display: flex;
  justify-content: space-between;
  &:after {
    content: none !important;
  }
}
