@font-face {
  font-family: 'CoralPen';
  src: url('./fonts/CoralPen.ttf')  format('truetype')
}

//NAV HEADER
.nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.temp {
  color: #6d67ef;
}
.create-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-form-wrapper {
  background: #fff;
  border-radius: 4px;
  min-width: 450px;
  min-height: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
}

.create-form-header {
  color: #000;
  text-align: center;
  margin-bottom: 0;
}
.create-form-body {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.create-form-footer {
  display: flex;
  border-top: 1px solid #f0f0f0;
  padding: 0.5rem;
  justify-content: flex-end;
}
.create-form-footer .next {
  background: #00ac99;
  padding: 0.5rem 1.5rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
}
.form-field label {
  display: none;
}
.form-field .form-input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  font-size: 1.4rem;
}

.first-card {
  min-width: 500px !important;
  min-height: 350px !important;
  padding: 0.5rem;
}
.first-card .description {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.first-card .description .row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ui.transparent.input.name-input {
  font-size: 2.6em;
}
.ui.transparent.input.name-input > input {
  border: none;
  line-height: 1.5em;
  border-bottom: 1px dashed #c8c8c8 !important;
  text-align: center;
}
.ui.transparent.input.reason-input {
  font-size: 2.6em;
}
.ui.transparent.input.reason-input > input {
  border: none;
  line-height: 1.5em;
  border-bottom: 1px dashed #c8c8c8 !important;
  text-align: center;
}
.ui.button.plural-input {
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
.ui.button.plural-input.ui.dropdown > .text {
  color: #000 !important;
  line-height: 1em;
  border-bottom: 1px dashed #c8c8c8 !important;
}
.ui.button.plural-input.ui.dropdown .dropdown.icon {
  display: none;
}
.text-row {
  font-size: 2.6em;
  line-height: 1.5em;
  margin: 1.5rem 0.25rem;
  text-align: center;
}

element.style {
  pointer-events: all;
}
.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}
.ui.dropdown .menu .active.item {
  background: 0 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 12;
}
.ui.dropdown .menu > .item:first-child {
  border-top-width: 0;
}
.ui.dropdown.plural-input {
  .text {
    font-size: 2.6em;
    line-height: 1.5em;
  }
  .menu {
    .item {
      padding: 0.5rem 1.5rem !important;
      .text {
        font-size: 1.6rem;
      }
    }
  }
}
.ui.compact.segment.type-toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 0.25rem 0;
  padding: 0.75rem 1rem;
}
.type-toggle-left-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}
.type-toggle-label {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
i.inverted.circular.icon {
  // background-color: #6d67ef !important;
  background-color: rgb(27, 175, 169) !important;
}

//NAV
.ui.secondary.pointing.menu {
  border: none;
  .right {
    padding: 0.85714286em 1.14285714em !important;
  }
  .item {
    color: rgba(255, 255, 255, 0.7);
    padding: 0.5714286em 1.4285713em;

    &.active {
      color: rgba(255, 255, 255, 1) !important;
      border-color: #ffc24c !important;
      border-bottom-width: 3px;
      margin: 0 0 -3px;
    }
    &:hover {
      color: rgba(255, 255, 255, 1) !important;
    }
  }
}

//Toggle
.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: #3ecf8e !important;
}
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #3ecf8e !important;
}

//Success
.success-header {
  flex-direction: column;
}
.success-url {
  margin: 1.5rem auto;
  p {
    font-size: 1rem;
  }
}

//Response form
.response-header{
font-size: 2rem;
text-align: center;
}

.response-input{
  margin: .5rem;
  flex: 1;
}

.container{
}
.container-inner{
  background-color: #5fd5d1;

  min-height: 100vh;
}

.logo-wrapper{
  display: flex;
  align-items: center;
  margin-right: 2rem;
  .logo{
    font-family: 'CoralPen';
    font-size: 2.6rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #ffc24c;
  }
}

//Dashboard
.form-list{
  > .item{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
   &:after{
      content: none !important;
    }
    .content{
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      .form-list-label{
        padding: .75rem 1rem;
        font-size: 1rem;
      }
      .form-list-button{
        padding: .75rem 1rem;
        font-size: 1rem;
        background: #3ecf8e;
        color: #fff;
      }
    }
  }
}