.hero-wrapper {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background: #18e1c3; /* fallback for old browsers */
  position: relative;
  z-index: 0;
  background-size: auto 30%;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-image: url("./laptop-light.png");
  .wave-border {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 0;
  }
  .hero-left {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;

    .cta-wrapper {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 1rem;
      .logo {
        width: 200px;
      }
      .cta-text {
        font-family: "Muli", sans-serif;
        margin: 0.25rem 0;
        font-size: 1.6rem;
        font-weight: 300;
        color: #fff;
      }
      .cta-button {
        font-family: "Muli", sans-serif;
        margin: 1.25rem 0;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.6rem 2rem;
        border-radius: 50px;
        background: #fff;
        color: #18e1c3;
        border: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
            color: darken(#18e1c3, 10%);
        }
      }
    }
  }
}
@media screen and (min-width: $break-small) {
  .hero-wrapper {
    min-height: 80vh;
  }
}
@media screen and (min-width: $break-medium) {
  .hero-wrapper {
    flex-direction: row;
    min-height: 60vh;
    background-position: right;
    background-size: 60%;
    background-image: url("./laptop-light.png"),
      -webkit-linear-gradient(to right, #18e1c3, lighten(#18e1c3, 15%)); /* Chrome 10-25, Safari 5.1-6 */
    background-image: url("./laptop-light.png"),
      linear-gradient(to right, #18e1c3, lighten(#18e1c3, 15%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .hero-left {
      .cta-text {
        font-size: 1.8rem;
      }
    }
  }
}
@media screen and (min-width: $break-large) {
  .hero-wrapper {
    min-height: 100vh;
    background-size: 80%;
    .hero-left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 40%;
      .cta-wrapper {
        .logo {
          width: 250px;
        }
        .cta-button {
          margin: 1.75rem 0;
          font-size: 1.4rem;
          padding: 0.6rem 2rem;
        }
      }
    }
  }
}
