.responses-menu {
  padding: 0.75rem;
  margin: 0 !important;
  flex-direction: column;
  .responses-menu-name {
    font-size: 1.4rem;
  }
}
.share-wrapper {
  display: block !important;
  max-width: 100%;
  overflow: auto;
  margin: auto !important;
  padding: 0.75rem 1rem !important;
  order: 2;
}

.responses-table {
  margin: 0 !important;
  .no-responses-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .no-responses {
      font-size: 1.2rem;
      color: #c8c8c8;
      text-align: center;
    }
  }
}
@media screen and (min-width: 650px) {
  .responses-menu {
    flex-direction: row;
  }
  .share-wrapper {
  
    order: initial;
  }
}
